/* 575 boilerplate style.css */
.container {
	background-color:#efe3ec; 
}

.myRectangle {
	fill: white;
	x:80;
	y:40;
	
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Georgia;
    font-size: 0.8em;
	fill:gray;
}

.title {
    font-family: Georgoia;
    font-size: 1.5em;
    font-weight: bold;
	fill:gray;
}

.nameLine
{ font-family:Georgia;
fill:gray;}
.popLine
{ font-family:Georgia;
fill:gray;}

